.card {
	@apply rounded-[8px] p-[20px] border border-[var(--color-secondary-light)];

	background-color: rgba(var(--color-surface-rgb), 0.6);
	backdrop-filter: blur(16px);
	-webkit-backdrop-filter: blur(16px);
}
