.navbar {
	@apply z-50 w-fit rounded-[8px] px-[20px] py-[10px] flex flex-row justify-evenly items-center gap-[20px]
			 border border-[var(--color-secondary-light)];

	background-color: rgba(var(--color-surface-rgb), 0.6);
	backdrop-filter: blur(16px);
	-webkit-backdrop-filter: blur(16px);
}
